# Make a copy of this file with the name .env and assign values to variables

#Your Elastic Cloud credentials
CLOUD_ID=
API_KEY=
ELASTIC_URL=
LLM_TYPE=openai
OPENAI_API_KEY=
INDEX_NAME=
LOGO_PATH=
PROMPT_TEMPLATE_FILE=

# Don't remove
ELSER_MODEL=".elser_model_2_linux-x86_64"

